
<%- include("partials/header"); -%>
<body>
  <div class="container">
    <hr class="homehr">
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6 ">
      <h1>Home</h1>
      <br>
      <p>歡迎來到承修留言板,點擊留言給我,你可以寫下任何你想留言的哦</p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="row">
        <%for(i=0;i<4;i++){%>
        <div class="col-md-6 col-lg-3">
        <h4><%=cityName[i].name%></h4>
        <img src="<%=cityIcon[i]%>">
        <p><%=cityName[i].main.temp%>°C</p>
        </div>
        <%}%>
      </div>
    </div>
     <br>
     <hr class="homehr">
    </div>
    <%for(let i=1;i<startingContent.length;i++){ %>
     <br>
     <nobr><h1><span>🧸&emsp;</span><%=startingContent[i].name%></h1></nobr>
     <p>
     <br>
     <%=startingContent[i].content.substring(0, 100) + " ..."%>
     <a href="/posts/<%=startingContent[i].name%>">Read More</a>
     </p>
     <br>
    <hr class="dot" >
   <%}%>

 </div>

 </body>


<%- include("partials/footer"); -%>
